body
{
	border:2px solid black;
	margin-right:100px;
	margin-left:100px;
	height:100%;
	padding:20px;
}

.footer{
	
	float:right;
	font-size:18px;
}

.footer a{
	color:blue;
	padding-left:10px;
	text-decoration: none;
}

.header{
	display: inline;
	height:70px;
	padding:30px;
	padding-bottom:20px;
	color:blue;
	font-size: 70px;
	width:35%;
	font-variant: bold;
}

.header2{
	font-size: 20px;
	font-variant: bold;
	float: right;
}

.header2 img{
	padding-left: 20px;
	
	width:25px;
	height:25px;
}
.city_content
{

	padding-top:60px;
	padding-bottom: 40px;
	font-size:30px;
	text-align:center;
}

.city_content select{
	font-size: 25px;
	text-align: center;
}
.market_content img
{
	padding-top:20px;
	padding-left:50px;
	width:150px;
	height:150px;
}

.market_content
{
	padding-top: 55px;
	width:100%;
	font-size:30px;
	text-align: center;
}
