<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Shopping - GIST</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/shop-item.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="/css/normalize.css">  
    <link rel="stylesheet" href="/css/style.css">

</head>
   <script type="text/javascript">
     var sid = "{{sid}}";
     var id = "{{id}}";
   </script>
   <script src="/js/editlist.js"></script>
<body onload="edit()"> 
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/homepage"><img src="/images/navbar_logo.png"></a>
               
            </div>
           
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a href="/newuser_homepage">Change Grocery Store</a>
                    </li>
                    <li>
                        <a href="/visualization">My Trends and Statistics</a>
                    </li>
                    <li>
                        <a href="/index">Logout</a>
                    </li>
                </ul>
            </div>
           
    </nav>

     <div class="container">
        <div class="row">
            <div class="col-md-3">
               
               <h3 style="color:#1ab188"><b> EDIT LIST</b></h3><br/>
               
               <h4 id="list_name"></h4>
            <ul id="demoedit">
                
            </ul>
            <p id="no_item"></p>
            <br/>
            </div>
        </div>
    </div>

     <div class="container">
        <div class="row">
                <div class="col-md-3">
               <h4><b> </b></h4>
               <form name="edit" action="/homepage">
                     <h5><b>Are there more items that you want to add to this list?</b></h5>
                        <div class="fieldwrapperform">
                            <input type="text" name="item" style="width:50%" id="item-name" onfocus="this.value='';" placeholder="Enter item name"></input>
                            <button id="add-item" style="float:right;color:#1ab188" onclick="showInput();"><b>Add</b></button><br/>
                        </div>      
                        <input type="text" hidden = "true" name="edit_ok" style="width:50%" id="edit_ok" ></input>
                        <input type="text" hidden = "true" name="del" style="width:50%" id="del" ></input>    
                        <input type="text" hidden = "true" name="list_id" style="width:50%" id="list_id" value = "{{id}}" ></input>    
                        <div id="list-items"></div>
                        <br/><br/><br/><br/>
                        
                    <input type="submit" id="submitBtn" class="button button-block" value="Save" onClick="sendVal(0);"></input>
                <input type="submit" class="button-delete" onClick="sendVal(1);" value="DELETE LIST"></input>    
                </form>    
            </div>            
        </div>
    </div>

    <script language="JavaScript">
        var items = [];
        
        
        function showInput() {
            
            
            
            var message_entered =  document.getElementById("item-name").value;
            console.log(message_entered);
            //items.push(message_entered);
            
            var ul = document.getElementById("demoedit");
            var li = document.createElement("li");
            
            li.appendChild(document.createTextNode(message_entered));
            
            var but = document.createElement('BUTTON');
            
            var lis = document.getElementById("demoedit").getElementsByTagName("li");
            li.setAttribute("id",'item'+(lis.length+1));
            but.setAttribute("id",lis.length + 1);
            but.setAttribute("value","del");
            but.style.cssText = 'float:right';
            var t = document.createTextNode("Delete");       // Create a text node
            but.appendChild(t);
            but.style.cssText = 'float:right;color:#1ab188';
            li.style.cssText = 'padding-bottom: 15px';
            li.appendChild(but);
            ul.appendChild(li);
            document.getElementById('item-name').value = " ";
            console.log(items[2]);
        }

        function sendVal(i)
        {
            if(i==1)
            {
                console.log("testtestestests");
                document.getElementById("del").value=1;
            }
            console.log("hello");
            document.getElementById("edit_ok").value=true;
            var lis = document.getElementById("demoedit").getElementsByTagName("li");
            
            for(i=0; i<lis.length; i++){
                
                var to_push = lis[i].innerHTML;
                var res = to_push.split("<");
                items.push(res[0]);
            }
            console.log(items);
            var field = document.getElementById('item-name');
            field.value = items;

            var options = {
                style: {
                    main: {
                        background: "#1ab188",
                        color: "white"
                    }
                },
                settings: {
                    duration: 5000
                    
                }
            };
            iqwerty.toast.Toast('Your list was saved!',options);
            
            setTimeout(function(){
             edit.submit();
            }, 15000); 
            
        }
    </script>

    
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/js/index.js"></script>
    <script src="/js/newlist.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toast.min.js"></script>
    {{>googleAnalytics}}
</body>
</html>