<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Shopping - GIST</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-item.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/css/normalize.css">   
    <link rel="stylesheet" href="/css/style.css">

</head>
    
<body>
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/homepage"><img src="/images/navbar_logo.png"></a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Logout</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="form">
            <form action="/homepage_after_signup" method="post">
           <b style="font-size:14px">City:</b><br/><br/>
            <select class="form-control" id = "city" name="city">
                <option value = "San Diego"> San Diego </option>
                <option value = "San franciso"> San Francisco </option>
                <option value = "Los Angeles"> Los Angeles </option>
                <option value = "San Jose"> San Jose </option>
                <option value = "Irvine"> Irvine </option>
            </select><br/><br/>

            <b style="font-size:14px">Store:</b><br/><br/>
            <select class="form-control" id = "store" name="store">
                <option value = "Ralphs"> Ralph's </option>
                <option value = "Vons"> Vons </option>
                <option value = "Costco"> Costco </option>
                <option value = "CVS"> CVS </option>
                <option value = "Trader Joe's"> Trader Joe's </option>
            </select><br/><br/>

              <button class="button button-block"/>Continue</button>    
          </form>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>